.wrap
  .inner
    .grid 
      a(href="#welcome").item.logo
        img(src="../img/logo-white.svg", alt="", srcset="")
      .item.menu
        nav 
          ul
            li
              a(href="#steps")  Anchor
            li
              a(href="#terms")  Anchor
            li
              a(href="#platform")  Anchor
            li
              a(href="#forecast")  Anchor
            li
              a(href="#about")  Anchor
            li
              a(href="#contacts")  Anchor
      .item.docs
        ul 
          li
            a(href="#")  Document
          li
            a(href="#")  Document
          li
            a(href="#")  Document
          li
            a(href="#")  Document
          li
            a(href="#")  Document
          li
            a(href="#")  Document
    .bottom
      p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora inventore sunt vero incidunt alias deleniti quasi molestias quam asperiores eveniet quaerat, quisquam, facilis ab earum! Atque placeat neque possimus quam.
      p &copy; Company 2024. All rights reserved.
