section.welcome-block#welcome
  .container.first 
    .wrap 
      h1 Lorem ipsum dolor sit amet consectetur adipisicing elit.
      .grid 
        a(href="signUp").btn Button
        .flex
          span.icon.i-security 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        .flex
          span.icon.i-finance
          p Lorem ipsum dolor sit amet consectetur adipisicing elit.

aside
  .wrap.not-mobile
    .card.pg-0.banner.banner-top
      .bg-wave.flex
        //- img(src="../../img/img-devices.png", alt="")
        .banner-text
          h2 Lorem, ipsum dolor sit amet consectetur adipisicing elit
          p Lorem, ipsum dolor sit amet consectetur

section.steps-block#steps
  .container
    .wrap 
      h2 Lorem ipsum dolor sit amet consectetur
      .grid
        .card.pg-0.with-logo.img-steps
        .grid-big-item.is-list
          .card.flex
            .flex-item
              h3 Step
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos natus illum harum sapiente. Maxime adipisci eveniet laborum aliquam!
            a(href=signUp).btn.btn-next
              include ../../img/row.svg
          .card.flex
            .flex-item
              h3 Step
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos natus illum harum sapiente. Maxime adipisci eveniet laborum aliquam!
            a(href=signUp).btn.btn-next
                include ../../img/row.svg
          .card.flex
            .flex-item
              h3 Step
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos natus illum harum sapiente. Maxime adipisci eveniet laborum aliquam!
            a(href=signUp).btn.btn-next
              include ../../img/row.svg
        
section.whyus-block#whyus
  .container
    .wrap
      h2 Lorem ipsum
      .grid.slider
        .card.bg-orange.pg-48-24.slide
          span.card-icon
            include ../../img/card-ic-1.svg
          h3 Lorem ipsum 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque et reiciendis praesentium quia. Similique adipisci autem voluptates sed ipsa quam natus vero magni? Ipsam dolorum cumque error alias soluta dolore.
        .card.pg-48-24.slide
          span.card-icon
            include ../../img/card-ic-2.svg
          h3 Lorem ipsum 
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur totam non maxime ut sapiente molestiae veniam facere est qui dolorum exercitationem nulla nostrum consequuntur deserunt saepe veritatis iusto, fugiat rerum.
        .card.pg-0.bg-blue-light.img-whyus
        .card.pg-48-24.slide
          span.card-icon
            include ../../img/card-ic-3.svg
          h3 Lorem ipsum 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus amet aspernatur officiis explicabo non tempora saepe, minima dolores soluta fugiat a! Beatae architecto exercitationem ex voluptatibus deleniti impedit saepe facere?
        .card.pg-48-24.bg-blue.slide
          span.card-icon
            include ../../img/card-ic-4.svg
          h3 Lorem ipsum 
          p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro exercitationem fugit ab, ad tempore a alias asperiores quo. Maxime possimus dolore unde distinctio consequatur optio eaque tenetur veritatis sunt sit!
        .card.pg-48-24.slide
          span.card-icon
            include ../../img/card-ic-5.svg
          h3 Lorem ipsum 
          p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste quis voluptas eaque, veritatis aliquid id quasi vitae fugit voluptates sunt atque molestiae incidunt reiciendis nemo fugiat! Temporibus error omnis quis?

section.terms-block#terms
  .container
    .wrap 
      h2 Lorem ipsum 
      p Lorem ipsum, dolor sit amet consectetur
      .grid
        .card.pg-0.img-terms
        .grid-big-item.is-list.clickable-list
          .card.clickable.active.is-accordion
            .flex
              .flex-item.info
                h3 Product
                span.btn.btn-open
                  include ../../img/open.svg
                p 250 $ - 1 000 $
                a(href="#").btn Button
              .flex-item.term
                ul.list
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                a(href="#").btn.full-width Button
          .card.clickable.is-accordion
            .flex
              .flex-item.info
                h3 Product
                span.btn.btn-open
                  include ../../img/open.svg
                p 1 000 $ - 15 000 $
                a(href="#").btn Button
              .flex-item.term
                ul.list
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                a(href="#").btn.full-width Button
          .card.clickable.popular.is-accordion
            .flex
              .flex-item.info
                h3.flex Product
                span.btn.btn-open
                  include ../../img/open.svg                
                p 15 000 $ - 50 000 $
                a(href="#").btn Button
              .flex-item.term
                ul.list
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                a(href="#").btn.full-width Button
          .card.clickable.is-accordion
            .flex
              .flex-item.info
                h3 Product
                span.btn.btn-open
                  include ../../img/open.svg                
                p 50 000 $ - 500 000 $
                a(href="#").btn Button
              .flex-item.term
                ul.list
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                  li Product item
                a(href="#").btn.full-width Button

section.platform-block#platform
  .container
    .wrap 
      h2 Lorem ipsum 
      p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis, quasi optio maiores
      .grid
        .card.pg-48-20
          .item
            span.card-icon.icon.i-web-trader
            h3 Lorem ipsum
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis, quasi optio maiores
            .btns-control
              a(href= webTerminal).btn.full-width Button
          .img-border.img-web
        .card.pg-48-20.bg-orange
          .item
            span.card-icon.icon.i-desktop
            h3 Lorem ipsum
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis, quasi optio maiores
            .btns-control.grid
              a(href= pcTerminal).btn.full-width Button
              a(href= macTerminal).btn.full-width Button
          .img-border.img-desktop
        .card.pg-48-20
          .item
            span.card-icon.icon.i-mobile
            h3 Lorem ipsum
            p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam omnis, quasi optio maiores
            .btns-control.grid
              a(href= androidApp).btn.full-width Button
              a(href= iosApp).btn.full-width Button
          .img-border.img-mobile

section.forecast-block#forecast
  .container
    .wrap 
      h2 Lorem ipsum 
      .grid.clickable-list
        button.card.clickable.active#calendar-btn
          .flex
            span.icon.i-calendar
            h3 Lorem ipsum 
            span.btn.btn-open
              include ../../img/open.svg
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis iste eos provident porro, delectus voluptatum distinctio laboriosam quidem.
        button.card.clickable#news-btn
          .flex
            span.icon.i-news
            h3 Lorem ipsum 
            span.btn.btn-open
              include ../../img/open.svg
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis iste eos provident porro, delectus voluptatum distinctio laboriosam quidem.
        button.card.clickable#condition-btn
          .flex
            span.icon.i-condition
            h3 Lorem ipsum 
            span.btn.btn-open
              include ../../img/open.svg
          p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis iste eos provident porro, delectus voluptatum distinctio laboriosam quidem.
        .grid-big-item
          .card.pg-20
            .widget-window
              div.widget#calendar-widget
                .widget-preview
                  p Window number 1
              div.widget#news-widget
                .widget-preview
                  p Window number 2
              div.widget#condition-widget
                .widget-preview
                  p Window number 3

section.about-block#about
  .container
    .wrap 
      h2 Lorem ipsum 
      .grid 
        .card.pg-40-24
          p 
            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat sapiente expedita assumenda quo aperiam, qui est nihil earum unde, nisi fugiat enim illo perferendis excepturi. Est aspernatur similique nulla eaque.
            |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore nisi quia, obcaecati magnam, expedita minima ratione eligendi dolore maxime omnis ullam laborum possimus laboriosam tempora. Sunt, officia! Itaque, laborum facere!
        .card.pg-0.with-logo.img-about
        .card.pg-40-24.bg-orange 
          h3 Lorem ipsum 
          p 
            |Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat sapiente expedita assumenda quo aperiam, qui est nihil earum unde, nisi fugiat enim illo perferendis excepturi. Est aspernatur similique nulla eaque.
            |Lorem ipsum dolor sit amet consectetur, adipisicing elit. Inventore nisi quia, obcaecati magnam, expedita minima ratione eligendi dolore maxime omnis.

aside
  .container 
    .wrap 
      .card.pg-0.banner.banner-bottom.flex
        h3.h2 Lorem ipsum dolor sit amet consectetur adipisicing elit.
        p Lorem ipsum dolor sit amet consectetur adipisicing elit.
        a(href=signUp).btn.btn-white Button

section.form-block#contacts
  .container.last
    .wrap 
      h2 Lorem ispum
      .card.pg-0
        .grid 
          .item.contacts
            h3 Lorem ipsum dolor sit amet consectetur adipisicing elit.
            address
              ul.flex
                li.flex
                  span.icon.i-phone
                  a(href="phone").link-phone +111 1111111
                li.flex
                  span.icon.i-mail
                  a(href="mail") email@mail.com
                li.flex
                  span.icon.i-adress
                  |Lorem ipsum dolor sit amet
          .item.form
            form(action="").flex
              .line
                label Name 
                input(type="text", name="", autocomplete="name", autocorrect="off", placeholder="Name")
              .line
                label Email
                input(type="email", name="", autocapitalize="off", autocomplete="email", placeholder="mail@gmail.com")
              .line
                label Textarea 
                textarea(name="", cols="30", rows="10", placeholder="Textarea")
              input(type="submit", value="Button").btn.full-width
          .item.map.flex
              iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d193597.13833254183!2d-74.29132015378873!3d40.696982398504154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c24fa5d33f083b%3A0xc80b8f06e177fe62!2z0J3RjNGOLdCZ0L7RgNC6LCDQodCo0JA!5e0!3m2!1sru!2sru!4v1739964037381!5m2!1sen!2sen" width="350" height="350" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
              p.flex Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit voluptate reiciendis totam commodi sit.
