nav 
  ul
    li
      a(href="#terms")  Условия торговли
    li
      a(href="#platform")  Платформа
    li
      a(href="#forecast")  Аналитика
    li
      a(href="#about")  О компании
    li
      a(href="#contacts")  Контакты
    li Язык
      ul
        li 
          a(href="#") Русский 
        li 
          a(href="#") English